---
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
console.log(blogEntries);
---

<Layout title="Welcome to Astro.">
  <h1>Blog</h1>
  <ul>
    {
      blogEntries.map((post) => (
        <li>
          {" "}
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
