---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h2>Front End Mentor</h2>
    <a href="qr">QR Code</a>

    <a href="huddle">Huddle</a>
    <a href="testimonials">Testimonials</a>
    <a href="news-homepage">News Homepage</a>
    <h2>Experiments</h2>
    <a href="switcher">Switcher with open-props</a>

    <a href="ex1-transitions">Tranistion Cut Out</a>
  </main>
</Layout>
<style>
  a {
    display: block;
  }
</style>
