---
import Chart from "chart.js/auto";
import { Debug } from "astro/components";

const datad = await fetch(
  "https://query1.finance.yahoo.com/v8/finance/chart/orion-usd?interval=1d&range=5d"
).then((response) => response.json());
const daty = datad.chart;
// Components that are build-time rendered also log to the CLI.
// When rendered with a client:* directive, they also log to the browser console.
console.log(datad);
---

<h1>Chart.js</h1>
<h2>Industrial Minerals (IND.ax) SP % Change 2022</h2>
<h3>Compared to ASX200 and ASX Small Ordinaries</h3>
<div style="width: 1400px;"><canvas id="a1x"></canvas></div>
{JSON.stringify(daty)}
<style>
  #acquisitions {
    outline: 1px solid red;
  }
</style>
<script>
  import { Chart } from "chart.js/auto";
  var test = [
    null,
    null,
    {
      ISO: 110.22851552751,
      date: "2022-1-3",
    },
    {
      ASX200: 102.016227811935,
      IND: 100,
      ISO: 109.793260209997,
      date: "2022-1-4",
    },
    {
      ASX200: 102.358757963528,
      IND: 102.325581395349,
      ISO: 102.339501223121,
      date: "2022-1-5",
    },
    {
      ASX200: 101.434594246656,
      IND: 97.6744186046512,
      ISO: 92.9270984960898,
      date: "2022-1-6",
    },
    {
      ASX200: 100.537302198577,
      IND: 106.976744186047,
      ISO: 92.6006596022815,
      date: "2022-1-7",
    },
    null,
    null,
    {
      ASX200: 100.209549169218,
      IND: 109.302325581395,
      ISO: 100.435255317513,
      date: "2022-1-10",
    },
    {
      ASX200: 99.9476143474117,
      IND: 120.93023255814,
      ISO: 100.870521012331,
      date: "2022-1-11",
    },
    {
      ASX200: 100.307604196913,
      IND: 118.604651162791,
      ISO: 100.761704588627,
      date: "2022-1-12",
    },
    {
      ASX200: 100.573566161662,
      IND: 111.627906976744,
      ISO: 89.7714948497953,
      date: "2022-1-13",
    },
    {
      ASX200: 100.186711202233,
      IND: 113.953488372093,
      ISO: 91.2948936497429,
      date: "2022-1-14",
    },
    null,
    null,
    {
      ASX200: 99.7944779737253,
      IND: 111.627906976744,
      date: "2022-1-17",
    },
    {
      ASX200: 100.006716277482,
      IND: 109.302325581395,
      ISO: 89.5756335889714,
      date: "2022-1-18",
    },
    {
      ASX200: 99.3834470389054,
      IND: 104.651162790698,
      ISO: 84.0043541097709,
      date: "2022-1-19",
    },
    {
      ASX200: 98.7910700532009,
      IND: 104.651162790698,
      ISO: 81.8280775222066,
      date: "2022-1-20",
    },
    {
      ASX200: 98.3357077516795,
      IND: 109.302325581395,
      ISO: 76.1697532058869,
      date: "2022-1-21",
    },
    null,
    null,
    {
      ASX200: 96.3611221719077,
      IND: 100,
      ISO: 79.9782398284507,
      date: "2022-1-24",
    },
    {
      ASX200: 95.7727723291467,
      IND: 102.325581395349,
      ISO: 81.3928222046938,
      date: "2022-1-25",
    },
    {
      ISO: 87.0511465210136,
      date: "2022-1-26",
    },
    {
      ASX200: 94.6027954799715,
      IND: 97.6744186046512,
      ISO: 86.0718194622833,
      date: "2022-1-27",
    },
    {
      ASX200: 94.0278847510396,
      IND: 97.6744186046512,
      ISO: 69.9673571483497,
      date: "2022-1-28",
    },
    null,
    null,
    {
      ASX200: 94.0869866811102,
      IND: 97.6744186046512,
      ISO: 71.4907559482974,
      date: "2022-1-31",
    },
    {
      ASX200: 94.6135454592619,
      IND: 106.976744186047,
      ISO: 69.4776988076373,
      date: "2022-2-1",
    },
    {
      ASX200: 95.4678572667728,
      IND: 106.976744186047,
      ISO: 69.2056629370285,
      date: "2022-2-2",
    },
    {
      ASX200: 95.3053220399302,
      IND: 106.976744186047,
      ISO: 63.9825939382216,
      date: "2022-2-3",
    },
    {
      ASX200: 95.6424804813105,
      IND: 109.302325581395,
      ISO: 63.2208945382478,
      date: "2022-2-4",
    },
    null,
    null,
    {
      ASX200: 95.7512789294306,
      IND: 120.93023255814,
      ISO: 63.7649662794651,
      date: "2022-2-7",
    },
    {
      ASX200: 96.7546934088197,
      IND: 111.627906976744,
      ISO: 62.6768279856831,
      date: "2022-2-8",
    },
    {
      ASX200: 97.6318366244514,
      IND: 113.953488372093,
      ISO: 72.8509301126882,
      date: "2022-2-9",
    },
    {
      ASX200: 98.5492840638411,
      IND: 118.604651162791,
      ISO: 81.6104498634502,
      date: "2022-2-10",
    },
    {
      ASX200: 97.9824276207961,
      IND: 118.604651162791,
      ISO: 78.6724738759122,
      date: "2022-2-11",
    },
    null,
    null,
    {
      ASX200: 97.5687075514374,
      IND: 118.604651162791,
      ISO: 75.0816149121047,
      date: "2022-2-14",
    },
    {
      ASX200: 97.4048277573254,
      IND: 116.279069767442,
      ISO: 65.6148039732212,
      date: "2022-2-15",
    },
    {
      ASX200: 97.854818348634,
      IND: 113.953488372093,
      ISO: 65.0707322320038,
      date: "2022-2-16",
    },
    {
      ASX200: 98.8206177388038,
      IND: 116.279069767442,
      ISO: 69.1512547251763,
      date: "2022-2-17",
    },
    {
      ASX200: 97.7701958759039,
      IND: 120.93023255814,
      ISO: 68.1175246432465,
      date: "2022-2-18",
    },
    null,
    null,
    {
      ASX200: 97.3699018026449,
      IND: 120.93023255814,
      date: "2022-2-21",
    },
    {
      ASX200: 97.0206553735697,
      IND: 118.604651162791,
      ISO: 62.5680115619785,
      date: "2022-2-22",
    },
    {
      ASX200: 96.7909639307696,
      IND: 116.279069767442,
      ISO: 62.6768279856831,
      date: "2022-2-23",
    },
    {
      ASX200: 96.0817210933286,
      IND: 113.953488372093,
      ISO: 58.7595249394147,
      date: "2022-2-24",
    },
    {
      ASX200: 94.6404105691907,
      IND: 111.627906976744,
      ISO: 57.7801978806844,
      date: "2022-2-25",
    },
    null,
    null,
    {
      ASX200: 94.6941407890485,
      IND: 111.627906976744,
      ISO: 58.4330808569537,
      date: "2022-2-28",
    },
    {
      ASX200: 96.1757489780797,
      IND: 110.46511627907,
      ISO: 55.1686659756074,
      date: "2022-3-1",
    },
    {
      ASX200: 95.6599401792184,
      IND: 113.953488372093,
      ISO: 55.1686659756074,
      date: "2022-3-2",
    },
    {
      ASX200: 96.688875201267,
      IND: 113.953488372093,
      ISO: 49.1838975768265,
      date: "2022-3-3",
    },
    {
      ASX200: 96.0091866082936,
      IND: 109.302325581395,
      ISO: 44.504900319237,
      date: "2022-3-4",
    },
    null,
    null,
    {
      ASX200: 95.8238199733303,
      IND: 113.953488372093,
      ISO: 45.5930386130192,
      date: "2022-3-7",
    },
    {
      ASX200: 94.7465264416368,
      IND: 111.627906976744,
      ISO: 54.4069665756335,
      date: "2022-3-8",
    },
    {
      ASX200: 94.9950287084789,
      IND: 109.302325581395,
      ISO: 53.8628948344161,
      date: "2022-3-9",
    },
    {
      ASX200: 96.1905261003135,
      IND: 106.976744186047,
      ISO: 51.4689905880954,
      date: "2022-3-10",
    },
    {
      ASX200: 96.061572260882,
      IND: 111.627906976744,
      ISO: 47.9869428593399,
      date: "2022-3-11",
    },
    null,
    null,
    {
      ASX200: 96.0347071509531,
      IND: 102.325581395349,
      ISO: 45.2665945305582,
      date: "2022-3-14",
    },
    {
      ASX200: 95.6545684690055,
      IND: 109.302325581395,
      ISO: 45.0489668718018,
      date: "2022-3-15",
    },
    {
      ASX200: 96.4484337791765,
      IND: 102.325581395349,
      ISO: 44.5593033424366,
      date: "2022-3-16",
    },
    {
      ASX200: 98.0146644409378,
      IND: 100,
      ISO: 50.3808522943133,
      date: "2022-3-17",
    },
    {
      ASX200: 97.9824276207961,
      IND: 102.325581395349,
      ISO: 50.924918846878,
      date: "2022-3-18",
    },
    null,
    null,
    {
      ASX200: 98.7346506988044,
      IND: 102.325581395349,
      ISO: 55.4951048694156,
      date: "2022-3-21",
    },
    {
      ASX200: 99.0959851155747,
      IND: 102.325581395349,
      ISO: 52.4483176468257,
      date: "2022-3-22",
    },
    {
      ASX200: 99.2249389550063,
      IND: 102.325581395349,
      ISO: 49.5429834732073,
      date: "2022-3-23",
    },
    {
      ASX200: 99.3928458920617,
      IND: 100,
      ISO: 43.9608285780197,
      date: "2022-3-24",
    },
    {
      ASX200: 99.8213430836542,
      IND: 93.0232558139535,
      ISO: 41.6757355667508,
      date: "2022-3-25",
    },
    null,
    null,
    {
      ASX200: 100.028209677198,
      IND: 93.0232558139535,
      ISO: 41.3492940786161,
      date: "2022-3-28",
    },
    {
      ASX200: 100.487599121663,
      IND: 95.3488372093023,
      ISO: 43.5255732605068,
      date: "2022-3-29",
    },
    {
      ASX200: 101.188781114352,
      IND: 93.0232558139535,
      ISO: 41.5669217373726,
      date: "2022-3-30",
    },
    {
      ASX200: 101.504446156017,
      IND: 93.0232558139535,
      ISO: 40.3155614023599,
      date: "2022-3-31",
    },
    {
      ASX200: 100.932218002759,
      IND: 90.6976744186046,
      ISO: 41.0228525904815,
      date: "2022-4-1",
    },
    null,
    null,
    {
      ASX200: 101.238477632402,
      IND: 93.0232558139535,
      ISO: 38.6289457498345,
      date: "2022-4-4",
    },
    {
      ASX200: 101.730110455873,
      IND: 93.0232558139535,
      ISO: 37.2143659679178,
      date: "2022-4-5",
    },
    {
      ASX200: 100.797892453114,
      IND: 102.325581395349,
      ISO: 35.9630056329051,
      date: "2022-4-6",
    },
    {
      ASX200: 100.50640338684,
      IND: 93.0232558139535,
      ISO: 32.9706214335147,
      date: "2022-4-7",
    },
    {
      ASX200: 100.640728936485,
      IND: 93.0232558139535,
      ISO: 36.9967383091613,
      date: "2022-4-8",
    },
    null,
    null,
    {
      ASX200: 101.078631540098,
      IND: 93.0232558139535,
      ISO: 29.8150177872202,
      date: "2022-4-11",
    },
    {
      ASX200: 100.529241353826,
      IND: 97.6744186046512,
      ISO: 32.9488602242349,
      date: "2022-4-12",
    },
    {
      ASX200: 100.596404128648,
      IND: 95.3488372093023,
      ISO: 30.5767145928677,
      date: "2022-4-13",
    },
    {
      ASX200: 101.136395461764,
      IND: 116.279069767442,
      ISO: 29.4885762990855,
      date: "2022-4-14",
    },
    null,
    null,
    null,
    {
      ISO: 34.0587623216232,
      date: "2022-4-18",
    },
    {
      ASX200: 101.884584837964,
      IND: 111.627906976744,
      ISO: 28.2916215815989,
      date: "2022-4-19",
    },
    {
      ASX200: 102.420542469272,
      IND: 104.651162790698,
      ISO: 26.5506003115475,
      date: "2022-4-20",
    },
    {
      ASX200: 102.150553361579,
      IND: 111.627906976744,
      ISO: 26.0065311646563,
      date: "2022-4-21",
    },
    {
      ASX200: 101.364748896159,
      IND: 111.627906976744,
      ISO: 26.3329726527911,
      date: "2022-4-22",
    },
    null,
    null,
    {
      ISO: 25.2448317646826,
      date: "2022-4-25",
    },
    {
      ASX200: 99.5795570942944,
      IND: 123.255813953488,
      ISO: 26.3329726527911,
      date: "2022-4-26",
    },
    {
      ASX200: 98.0872054848375,
      IND: 116.279069767442,
      ISO: 21.7627866302534,
      date: "2022-4-27",
    },
    {
      ASX200: 98.8219623060732,
      IND: 111.627906976744,
      ISO: 22.5244834359009,
      date: "2022-4-28",
    },
    {
      ASX200: 99.8710461605685,
      IND: 111.627906976744,
      ISO: 23.9934714296699,
      date: "2022-4-29",
    },
    {
      ASX200: 99.7125446355341,
      date: "2022-4-30",
    },
    null,
    {
      ASX200: 99.7125446355341,
      IND: 111.627906976744,
      ISO: 26.5506003115475,
      date: "2022-5-2",
    },
    {
      ASX200: 98.7991308979525,
      IND: 111.627906976744,
      ISO: 25.0272041059261,
      date: "2022-5-3",
    },
    {
      ASX200: 98.9549432884482,
      IND: 111.627906976744,
      ISO: 26.1371062033145,
      date: "2022-5-4",
    },
    {
      ASX200: 98.9858421001852,
      IND: 116.279069767442,
      ISO: 24.918390276548,
      date: "2022-5-5",
    },
    {
      ASX200: 98.5251015295863,
      IND: 116.279069767442,
      ISO: 24.4831349590351,
      date: "2022-5-6",
    },
    null,
    null,
    {
      ASX200: 96.5061911419777,
      IND: 116.279069767442,
      ISO: 25.8977173352782,
      date: "2022-5-9",
    },
    {
      ASX200: 95.1145771358894,
      IND: 113.953488372093,
      ISO: 28.8356933228163,
      date: "2022-5-10",
    },
    {
      ASX200: 94.8969736807844,
      IND: 111.627906976744,
      ISO: 26.1153449940346,
      date: "2022-5-11",
    },
    {
      ASX200: 94.8795074240118,
      IND: 118.604651162791,
      ISO: 25.0272041059261,
      date: "2022-5-12",
    },
    {
      ASX200: 95.0366709406416,
      IND: 123.255813953488,
      ISO: 23.5038104946312,
      date: "2022-5-13",
    },
    null,
    null,
    {
      ASX200: 96.0360517182225,
      IND: 120.93023255814,
      ISO: 21.545158971497,
      date: "2022-5-16",
    },
    {
      ASX200: 95.7674006189338,
      IND: 118.604651162791,
      ISO: 22.1436363302403,
      date: "2022-5-17",
    },
    {
      ASX200: 96.700963188962,
      IND: 123.255813953488,
      ISO: 21.545158971497,
      date: "2022-5-18",
    },
    {
      ASX200: 96.0750048158464,
      IND: 118.604651162791,
      ISO: 22.7421110946573,
      date: "2022-5-19",
    },
    {
      ASX200: 96.1045590603141,
      IND: 118.604651162791,
      ISO: 22.6332972652791,
      date: "2022-5-20",
    },
    null,
    null,
    {
      ASX200: 96.6606655240687,
      IND: 127.906976744186,
      ISO: 23.7214381533876,
      date: "2022-5-23",
    },
    {
      ASX200: 96.2549997405969,
      IND: 127.906976744186,
      ISO: 23.5038104946312,
      date: "2022-5-24",
    },
    {
      ASX200: 96.9642425780379,
      IND: 132.558139534884,
      ISO: 22.7421110946573,
      date: "2022-5-25",
    },
    {
      ASX200: 96.464548909815,
      IND: 151.162790697674,
      ISO: 23.0685525827919,
      date: "2022-5-26",
    },
    {
      ASX200: 96.6700709360897,
      IND: 160.46511627907,
      ISO: 23.5038104946312,
      date: "2022-5-27",
    },
    null,
    null,
    {
      ASX200: 97.8776563156194,
      IND: 148.837209302326,
      date: "2022-5-30",
    },
    {
      ASX200: 97.9018322910095,
      IND: 141.860465116279,
      ISO: 23.0685525827919,
      date: "2022-5-31",
    },
    {
      ASX200: 97.2275219671137,
      IND: 137.209302325581,
      ISO: 23.1773690064965,
      date: "2022-6-1",
    },
    {
      ASX200: 97.0139390960874,
      IND: 141.860465116279,
      ISO: 23.3949966652529,
      date: "2022-6-2",
    },
    {
      ASX200: 97.4478145567575,
      IND: 148.837209302326,
      ISO: 28.8356933228163,
      date: "2022-6-3",
    },
    null,
    null,
    {
      ASX200: 97.1348320907673,
      IND: 181.395348837209,
      ISO: 30.6855284222459,
      date: "2022-6-6",
    },
    {
      ASX200: 96.8352887386064,
      IND: 209.302325581395,
      ISO: 34.4940176391361,
      date: "2022-6-7",
    },
    {
      ASX200: 96.2053032225473,
      IND: 190.697674418605,
      ISO: 35.4951059071462,
      date: "2022-6-8",
    },
    {
      ASX200: 95.525614629574,
      IND: 186.046511627907,
      ISO: 34.7116452978925,
      date: "2022-6-9",
    },
    {
      ASX200: 94.111169215365,
      IND: 190.697674418605,
      ISO: 31.4472278222197,
      date: "2022-6-10",
    },
    null,
    null,
    {
      ISO: 28.726879493438,
      date: "2022-6-13",
    },
    {
      ASX200: 91.9068856339284,
      IND: 197.674418604651,
      ISO: 29.0533209815728,
      date: "2022-6-14",
    },
    {
      ASX200: 89.7361834399029,
      IND: 204.651162790698,
      ISO: 27.5299247759514,
      date: "2022-6-15",
    },
    {
      ASX200: 89.6166350124923,
      IND: 195.348837209302,
      ISO: 27.4211109465731,
      date: "2022-6-16",
    },
    {
      ASX200: 88.0329380939585,
      IND: 174.418604651163,
      ISO: 23.2861828358747,
      date: "2022-6-17",
    },
    null,
    null,
    {
      ASX200: 87.2229510942843,
      IND: 151.162785153056,
      date: "2022-6-20",
    },
    {
      ASX200: 87.8180172145275,
      IND: 155.813953488372,
      ISO: 22.9597387534138,
      date: "2022-6-21",
    },
    {
      ASX200: 88.0880063222209,
      IND: 153.488372093023,
      ISO: 23.5038104946312,
      date: "2022-6-22",
    },
    {
      ASX200: 88.0074109924343,
      IND: 151.162790697674,
      ISO: 25.1360179353043,
      date: "2022-6-23",
    },
    {
      ASX200: 88.4547190080688,
      IND: 151.162790697674,
      ISO: 24.7007626177915,
      date: "2022-6-24",
    },
    null,
    null,
    {
      ASX200: 90.2143837084097,
      IND: 158.139534883721,
      ISO: 25.1360179353043,
      date: "2022-6-27",
    },
    {
      ASX200: 90.8524300692203,
      IND: 158.139534883721,
      ISO: 23.5038104946312,
      date: "2022-6-28",
    },
    {
      ASX200: 90.6737731528745,
      IND: 146.511627906977,
      ISO: 23.939065812144,
      date: "2022-6-29",
    },
    {
      ASX200: 89.7979745045122,
      IND: 144.186046511628,
      ISO: 23.8302519827658,
      date: "2022-6-30",
    },
    {
      ASX200: 88.9758995171429,
      IND: 144.186046511628,
      ISO: 23.939065812144,
      date: "2022-7-1",
    },
    null,
    null,
    {
      ASX200: 89.4473835081675,
      IND: 139.53488372093,
      date: "2022-7-4",
    },
    {
      ASX200: 89.4205183982387,
      IND: 120.93023255814,
      ISO: 32.6441799453801,
      date: "2022-7-5",
    },
    {
      ASX200: 89.3479839132037,
      IND: 116.279069767442,
      ISO: 32.6441799453801,
      date: "2022-7-6",
    },
    {
      ASX200: 89.2996254035587,
      IND: 120.93023255814,
      ISO: 32.3177384572455,
      date: "2022-7-7",
    },
    {
      ASX200: 90.1996065861758,
      IND: 130.232558139535,
      ISO: 34.0587623216232,
      date: "2022-7-8",
    },
    null,
    null,
    {
      ASX200: 89.6542435428469,
      IND: 127.906976744186,
      ISO: 34.8204591272707,
      date: "2022-7-11",
    },
    {
      ASX200: 89.3224633705442,
      IND: 120.93023255814,
      ISO: 37.1273133478193,
      date: "2022-7-12",
    },
    {
      ASX200: 88.9450072642706,
      IND: 116.279069767442,
      ISO: 37.4319936266742,
      date: "2022-7-13",
    },
    {
      ASX200: 89.451410651111,
      IND: 116.279069767442,
      ISO: 36.7791106504049,
      date: "2022-7-14",
    },
    {
      ASX200: 88.9530681090222,
      IND: 113.953488372093,
      ISO: 37.5408074560524,
      date: "2022-7-15",
    },
    null,
    null,
    {
      ASX200: 89.8248396144411,
      IND: 116.279069767442,
      ISO: 38.0848766029434,
      date: "2022-7-18",
    },
    {
      ASX200: 89.945732609121,
      IND: 125.581395348837,
      ISO: 35.6148003411643,
      date: "2022-7-19",
    },
    {
      ASX200: 91.0109315942547,
      IND: 127.906976744186,
      ISO: 35.0380867860271,
      date: "2022-7-20",
    },
    {
      ASX200: 91.2648055713096,
      IND: 118.604651162791,
      ISO: 36.887924479783,
      date: "2022-7-21",
    },
    {
      ASX200: 91.5576392048531,
      IND: 116.279069767442,
      ISO: 39.0642010673473,
      date: "2022-7-22",
    },
    null,
    null,
    {
      ASX200: 91.3816714230461,
      IND: 120.93023255814,
      ISO: 38.0848766029434,
      date: "2022-7-25",
    },
    {
      ASX200: 91.5428620826193,
      IND: 125.581395348837,
      ISO: 37.4319936266742,
      date: "2022-7-26",
    },
    {
      ASX200: 91.7900197821919,
      IND: 162.790697674419,
      ISO: 38.7595233828189,
      date: "2022-7-27",
    },
    {
      ASX200: 92.5785133821501,
      IND: 158.139534883721,
      ISO: 36.9967383091613,
      date: "2022-7-28",
    },
    {
      ASX200: 93.6732666117515,
      IND: 158.139534883721,
      ISO: 38.0848766029434,
      date: "2022-7-29",
    },
    null,
    {
      ASX200: 95.8748610586493,
      date: "2022-7-31",
    },
    {
      ASX200: 93.9486339885224,
      IND: 153.488372093023,
      ISO: 37.2143659679178,
      date: "2022-8-1",
    },
    {
      ASX200: 94.0789258363586,
      IND: 162.790697674419,
      ISO: 37.4319936266742,
      date: "2022-8-2",
    },
    {
      ASX200: 93.8693832260052,
      IND: 160.46511627907,
      ISO: 40.8052249317251,
      date: "2022-8-3",
    },
    {
      ASX200: 94.3113129725621,
      IND: 158.139534883721,
      ISO: 41.784549396129,
      date: "2022-8-4",
    },
    {
      ASX200: 94.2508664752222,
      IND: 147.674418604651,
      ISO: 38.1936904323217,
      date: "2022-8-5",
    },
    null,
    null,
    {
      ASX200: 94.3757866128455,
      IND: 146.511627906977,
      ISO: 39.390642555482,
      date: "2022-8-8",
    },
    {
      ASX200: 94.4886187627738,
      IND: 144.186046511628,
      ISO: 38.5201319204563,
      date: "2022-8-9",
    },
    {
      ASX200: 94.4268342570292,
      IND: 153.488372093023,
      ISO: 28.1066383310886,
      date: "2022-8-10",
    },
    {
      ASX200: 95.0635360505704,
      IND: 148.837209302326,
      ISO: 26.8770417996821,
      date: "2022-8-11",
    },
    {
      ASX200: 94.9157779459617,
      IND: 148.837209302326,
      ISO: 24.0478796415222,
      date: "2022-8-12",
    },
    null,
    null,
    {
      ASX200: 95.0487589283366,
      IND: 144.186046511628,
      ISO: 24.4831349590351,
      date: "2022-8-15",
    },
    {
      ASX200: 95.7956102961321,
      IND: 147.674418604651,
      ISO: 24.1566934709004,
      date: "2022-8-16",
    },
    {
      ASX200: 95.7808331738983,
      IND: 145.348837209302,
      ISO: 23.4494022827789,
      date: "2022-8-17",
    },
    {
      ASX200: 95.6223316488638,
      IND: 145.348837209302,
      ISO: 23.1229607946442,
      date: "2022-8-18",
    },
    {
      ASX200: 95.8748610586493,
      IND: 146.511627906977,
      ISO: 22.8509249240355,
      date: "2022-8-19",
    },
    null,
    null,
    {
      ASX200: 95.3563631252492,
      IND: 151.162785153056,
      ISO: 22.502722226621,
      date: "2022-8-22",
    },
    {
      ASX200: 94.6927962217791,
      IND: 148.837209302326,
      ISO: 22.5244834359009,
      date: "2022-8-23",
    },
    {
      ASX200: 94.2119133775982,
      IND: 148.837209302326,
      ISO: 21.599565886186,
      date: "2022-8-24",
    },
    {
      ASX200: 94.8029457960333,
      IND: 146.511626798053,
      ISO: 23.3949966652529,
      date: "2022-8-25",
    },
    {
      ASX200: 95.774116896416,
      IND: 141.86046844305,
      ISO: 22.4156696065227,
      date: "2022-8-26",
    },
    null,
    null,
    {
      ASX200: 95.0904011604993,
      IND: 139.534889265548,
      ISO: 20.8378677833754,
      date: "2022-8-29",
    },
    {
      ASX200: 94.2965358503283,
      IND: 176.744183828664,
      ISO: 21.545158971497,
      date: "2022-8-30",
    },
    {
      ASX200: 93.9607219762174,
      IND: 169.76744629616,
      ISO: 21.545158971497,
      date: "2022-8-31",
    },
    {
      ASX200: 93.0432810956925,
      IND: 169.76744629616,
      ISO: 21.9804142890098,
      date: "2022-9-1",
    },
    {
      ASX200: 92.0788197139272,
      IND: 176.744183828664,
      ISO: 22.7421110946573,
      date: "2022-9-2",
    },
    null,
    null,
    {
      ASX200: 92.1204619460899,
      IND: 176.744183828664,
      date: "2022-9-5",
    },
    {
      ASX200: 92.5301548725052,
      IND: 181.395342183667,
      ISO: 22.3068557771444,
      date: "2022-9-6",
    },
    {
      ASX200: 91.6261465469447,
      IND: 179.069763006166,
      ISO: 22.0348225008621,
      date: "2022-9-7",
    },
    {
      ASX200: 91.9955418084666,
      IND: 179.069763006166,
      ISO: 23.6126243240094,
      date: "2022-9-8",
    },
    {
      ASX200: 92.6644804221495,
      IND: 209.302320036777,
      ISO: 26.7138197584516,
      date: "2022-9-9",
    },
    null,
    null,
    {
      ASX200: 93.6907263096594,
      ISO: 25.5712732528172,
      date: "2022-9-12",
    },
    {
      ASX200: 94.2320622100449,
      IND: 232.558139534884,
      ISO: 24.1566934709004,
      date: "2022-9-13",
    },
    {
      ASX200: 94.1380343252938,
      IND: 193.023251932721,
      ISO: 22.4156696065227,
      date: "2022-9-14",
    },
    {
      ASX200: 92.390457612648,
      IND: 197.674424149269,
      ISO: 22.3612639889967,
      date: "2022-9-15",
    },
    {
      ASX200: 91.6865930442846,
      IND: 200.000003326771,
      ISO: 22.6332972652791,
      date: "2022-9-16",
    },
    null,
    null,
    {
      ASX200: 90.7221316625194,
      IND: 186.046514400216,
      ISO: 21.1099036539841,
      date: "2022-9-19",
    },
    {
      ASX200: 91.4528613408117,
      IND: 188.372093577718,
      ISO: 20.8813940934246,
      date: "2022-9-20",
    },
    {
      ASX200: 91.1613788334023,
      IND: 172.093025473661,
      ISO: 21.1099036539841,
      date: "2022-9-21",
    },
    {
      ISO: 20.2393917217952,
      date: "2022-9-22",
    },
    {
      ASX200: 90.1190112563892,
      IND: 188.372093577718,
      ISO: 19.4341686060986,
      date: "2022-9-23",
    },
    null,
    null,
    {
      ASX200: 87.9107005320092,
      IND: 186.046514400216,
      ISO: 19.9129502336606,
      date: "2022-9-26",
    },
    {
      ASX200: 87.4392165409846,
      IND: 183.720935222714,
      ISO: 19.9129502336606,
      date: "2022-9-27",
    },
    {
      ASX200: 87.5332444257356,
      IND: 183.720935222714,
      ISO: 20.4026124658626,
      date: "2022-9-28",
    },
    {
      ASX200: 88.5836728475003,
      IND: 183.720935222714,
      ISO: 20.0217640630388,
      date: "2022-9-29",
    },
    {
      ASX200: 88.1605473661206,
      IND: 179.069763006166,
      ISO: 19.695321277741,
      date: "2022-9-30",
    },
    null,
    null,
    {
      ASX200: 87.358621211198,
      IND: 172.093025473661,
      ISO: 19.3688797896064,
      date: "2022-10-3",
    },
    {
      ASX200: 89.9887128496883,
      IND: 176.744183828664,
      ISO: 19.9129502336606,
      date: "2022-10-4",
    },
    {
      ASX200: 91.605997714498,
      IND: 174.418604651163,
      ISO: 20.4570193805517,
      date: "2022-10-5",
    },
    {
      ASX200: 91.7215124401004,
      IND: 162.79069490211,
      ISO: 20.6746470393081,
      date: "2022-10-6",
    },
    {
      ASX200: 91.4273407981522,
      IND: 162.79069490211,
      ISO: 20.4026124658626,
      date: "2022-10-7",
    },
    null,
    null,
    {
      ASX200: 90.6737731528745,
      IND: 162.79069490211,
      ISO: 19.8041364042824,
      date: "2022-10-10",
    },
    {
      ASX200: 90.1660251987648,
      IND: 172.093025473661,
      ISO: 20.0217640630388,
      date: "2022-10-11",
    },
    {
      ASX200: 89.6220067227052,
      IND: 172.093025473661,
      ISO: 20.0217640630388,
      date: "2022-10-12",
    },
    {
      ASX200: 89.7791702393349,
      IND: 172.093025473661,
      ISO: 20.4570193805517,
      date: "2022-10-13",
    },
    {
      ASX200: 90.9733230639002,
      IND: 162.79069490211,
      ISO: 20.7834608686863,
      date: "2022-10-14",
    },
    null,
    null,
    {
      ASX200: 90.7892944373416,
      IND: 162.79069490211,
      ISO: 21.545158971497,
      date: "2022-10-17",
    },
    {
      ASX200: 91.2164536205294,
      IND: 162.79069490211,
      ISO: 21.7627866302534,
      date: "2022-10-18",
    },
    {
      ASX200: 91.6395791019091,
      IND: 167.441867118658,
      ISO: 19.9129502336606,
      date: "2022-10-19",
    },
    {
      ASX200: 91.1170474667008,
      IND: 188.372093577718,
      ISO: 20.0217640630388,
      date: "2022-10-20",
    },
    {
      ASX200: 90.3554255355362,
      IND: 183.720935222714,
      ISO: 20.6746470393081,
      date: "2022-10-21",
    },
    null,
    null,
    {
      ASX200: 91.6543496652782,
      IND: 186.046514400216,
      ISO: 19.9129502336606,
      date: "2022-10-24",
    },
    {
      ASX200: 91.7618101049937,
      IND: 181.395342183667,
      ISO: 20.3482055511734,
      date: "2022-10-25",
    },
    {
      ASX200: 91.9216627561622,
      IND: 190.697672755219,
      ISO: 21.545158971497,
      date: "2022-10-26",
    },
    {
      ASX200: 92.3326936909821,
      IND: 204.651161681774,
      ISO: 21.3275313127405,
      date: "2022-10-27",
    },
    {
      ASX200: 91.7040527421925,
      IND: 195.348831110222,
      ISO: 20.5658332099299,
      date: "2022-10-28",
    },
    null,
    null,
    {
      ASX200: 92.2709091852375,
      IND: 195.348831110222,
      ISO: 20.6746470393081,
      date: "2022-10-31",
    },
    {
      ASX200: 93.7175914195882,
      IND: 200.000003326771,
      ISO: 20.6746470393081,
      date: "2022-11-1",
    },
    {
      ASX200: 94.1850482676694,
      IND: 186.046514400216,
      ISO: 21.1099036539841,
      date: "2022-11-2",
    },
    {
      ASX200: 93.3978992349806,
      IND: 186.046514400216,
      ISO: 20.2393917217952,
      date: "2022-11-3",
    },
    {
      ASX200: 92.617466479774,
      IND: 186.046514400216,
      ISO: 19.695321277741,
      date: "2022-11-4",
    },
    null,
    null,
    {
      ASX200: 93.2676008282797,
      IND: 186.046514400216,
      ISO: 20.130577892417,
      date: "2022-11-7",
    },
    {
      ASX200: 93.5980429921777,
      IND: 176.744183828664,
      ISO: 19.3688797896064,
      date: "2022-11-8",
    },
    {
      ASX200: 94.1944471208256,
      IND: 197.674424149269,
      ISO: 19.3688797896064,
      date: "2022-11-9",
    },
    {
      ASX200: 93.8680386587358,
      IND: 197.674424149269,
      ISO: 19.2600659602281,
      date: "2022-11-10",
    },
    {
      ASX200: 96.319479939745,
      IND: 190.697672755219,
      ISO: 17.4102295636354,
      date: "2022-11-11",
    },
    null,
    null,
    {
      ASX200: 96.6673818015509,
      IND: 186.046514400216,
      ISO: 16.9749729489593,
      date: "2022-11-14",
    },
    {
      ASX200: 95.9621726659181,
      IND: 181.395342183667,
      ISO: 17.4102295636354,
      date: "2022-11-15",
    },
    {
      ASX200: 95.9420238334715,
      IND: 181.395342183667,
      ISO: 16.7573452902029,
      date: "2022-11-16",
    },
    {
      ASX200: 96.001125763542,
      IND: 183.720935222714,
      ISO: 16.3656149855761,
      date: "2022-11-17",
    },
    {
      ASX200: 96.2603780096745,
      IND: 181.395342183667,
      ISO: 16.3764968873792,
      date: "2022-11-18",
    },
    null,
    null,
    {
      ASX200: 96.370521025064,
      IND: 190.697672755219,
      ISO: 17.3884670571923,
      date: "2022-11-21",
    },
    {
      ASX200: 96.6351449814092,
      IND: 186.046514400216,
      ISO: 15.342764211123,
      date: "2022-11-22",
    },
    {
      ASX200: 97.340354117042,
      IND: 183.720935222714,
      ISO: 16.32208997269,
      date: "2022-11-23",
    },
  ];
  const results = test.filter((element) => {
    return element !== null;
  });

  console.log(results);
  var jsonfile = {
    jsonarray: results,
  };

  var labels = jsonfile.jsonarray.map(function (e) {
    return e.date;
  });
  var data = jsonfile.jsonarray.map(function (e) {
    return e.ASX200;
  });
  var data1 = jsonfile.jsonarray.map(function (e) {
    return e.IND;
  });
  var data2 = jsonfile.jsonarray.map(function (e) {
    return e.ISO;
  });

  var config = {
    type: "line",
    data: {
      labels: labels,
      datasets: [
        {
          label: "Graph Line",
          data: data,
          backgroundColor: "rgba(120, 119, 204, 0.3)",
        },
        {
          label: "Graph Line",
          data: data1,
          backgroundColor: "rgba(0, 19, 104, 0.3)",
        },
      ],
    },
  };

  var ctx1 = document.getElementById("a1x").getContext("2d");
  var chart = new Chart(ctx1, {
    type: "line",
    data: {
      labels: labels,
      datasets: [
        {
          label: "IND",
          backgroundColor: "transparent",
          borderColor: "#2F80ED",
          data: data1,
          pointBackgroundColor: "transparent",
          pointHoverBackgroundColor: "#2F80ED",
          pointBorderColor: "transparent",
          pointHoverBorderColor: "#fff",
          pointHoverBorderWidth: 5,
          pointBorderWidth: 5,
          pointRadius: 8,
          pointHoverRadius: 8,
          order: 1,
        },
        {
          label: "ASX 200",
          backgroundColor: "transparent",
          borderColor: "#FF80ED",
          data: data,
          pointBackgroundColor: "transparent",
          pointHoverBackgroundColor: "#2F80ED",
          pointBorderColor: "transparent",
          pointHoverBorderColor: "#fff",
          pointHoverBorderWidth: 5,
          pointBorderWidth: 5,
          pointRadius: 8,
          pointHoverRadius: 8,
          order: 1,
        },
        {
          label: "ASX Small Ordinaries ETF (ISO.AX)",
          backgroundColor: "transparent",
          borderColor: "#FF000D",
          data: data2,
          pointBackgroundColor: "transparent",
          pointHoverBackgroundColor: "#FF0000",
          pointBorderColor: "transparent",
          pointHoverBorderColor: "#fff",
          pointHoverBorderWidth: 5,
          pointBorderWidth: 5,
          pointRadius: 8,
          pointHoverRadius: 8,
          order: 1,
        },
      ],
    },

    // Configuration options
    options: {
      tooltips: {
        callbacks: {
          labelColor: function (tooltipItem, chart) {
            return {
              backgroundColor: "#ffffff",
            };
          },
        },
        intersect: false,
        backgroundColor: "#f9f9f9",
        titleFontColor: "#8F92A1",
        titleFontSize: 16,
        bodyFontColor: "#171717",
        bodyFontStyle: "bold",
        bodyFontSize: 16,
        multiKeyBackground: "transparent",
        displayColors: false,
        xPadding: 30,
        yPadding: 10,
        bodyAlign: "center",
        titleAlign: "center",
      },

      title: {
        display: false,
      },
      legend: {
        display: false,
      },

      scales: {
        yAxes: [
          {
            gridLines: {
              display: false,
              drawTicks: false,
              drawBorder: false,
            },
            ticks: {
              padding: 20,
              max: 30,
              min: -10,
            },
          },
        ],
        xAxes: [
          {
            gridLines: {
              drawBorder: false,
              color: "rgba(143, 146, 161, .1)",
              zeroLineColor: "rgba(143, 146, 161, .1)",
            },
            ticks: {
              padding: 20,
              maxTicksLimit: 20,
            },
          },
        ],
      },
    },
  });
</script>
