---
import { GoogleSpreadsheet } from "google-spreadsheet";

const sheetID = "1qR0R3dC5BJ_FS66vb0OWJjf4SdF9cXPbEK0_HzVCp9o";
const Key = "AIzaSyD4NUZRM-sXznD3utwNPcRCtyMba7p9PRY";
const doc = new GoogleSpreadsheet(sheetID, { apiKey: Key });

const results = await doc.loadInfo();

// console.log("doc:", doc, doc.title);
console.log("data:", doc.spreadsheetId, doc.sheetCount);

const sheet = doc.sheetsByIndex[0]; // or use `doc.sheetsById[id]` or `doc.sheetsByTitle[title]`
console.log(sheet.title);
console.log(sheet.rowCount);
console.log(sheet.columnCount);

const therows = await sheet.getRows(1, 2);
console.log("Row", therows);
console.log("Row", therows[0]);

console.log("------");
// console.log(cellA1);
---

<h2>Go Sheet Yerself2</h2>

<h2>To Do</h2>
<p>From Google-Sheets NPM plugin</p>
{doc.title}<p>{doc.sheetsByIndex[0]}</p>
{therows[1]}
<p>
  https://theoephraim.github.io/node-google-spreadsheet/#/guides/authentication
</p>

<h3>And</h3>

<p>https://www.youtube.com/watch?v=K6Vcfm7TA5U</p>
